img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  p,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }



  $breakpoint: (
    phone: 480px,
    tablet: 768px,
    desktop: 1200px
  );

  .container {
    // phone screen 0px>
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    // TABLET
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }

       // desktop screen 1200px
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  }
  
  body {
    margin: 0;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: $background-color;
  }
  
  
  .link {
    text-decoration: none;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
